<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Comment</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

        .errors {
            color: red;
        }
    </style>
</head>
<body>
<form id="edit-form" action="#" th:action="@{/create-comment}" th:object="${comment}" th:method="post">
    <h3>New Comment:</h3>

    <div class="row">
        <label for="book-id-input">Book ID:</label>
        <input id="book-id-input" name="bookId" type="text" readonly="readonly" th:field="*{bookId}" value="0"/>
    </div>

    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text" th:field="*{title}" value="Супер книга!"/>
        <div class="errors" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    </div>

    <div class="row">
        <label for="comment-textarea">Comment:</label>
        <textarea id="comment-textarea" name="body" th:field="*{body}">Мне кажется, что это супер-книга</textarea>
        <div class="errors" th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></div>
    </div>

    <div class="row">
        <label for="user-name-input">User:</label>
        <input id="user-name-input" name="userName" type="text" th:field="*{userName}" value="Пользователь0"/>
        <div class="errors" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="comments.html" th:href="@{/find-comments(bookId=${comment.bookId})}"><button type="button">Cancel</button></a>
    </div>

    <div class="errors" th:if="${errorMessage}" th:utext="${errorMessage}"></div>
</form>

</body>
</html>